.total-order {
    text-align: right;
    background-color: #111111;
    color: white;
}
.list-order {
    padding: 1px 20px;
    text-align: left;
}
.list-order-bottom {
    border-bottom: 1px solid rgb(211 211 211 / 71%);
}
.ul-detalle {
    padding-top: 15px;
}
.content-order {
    padding: 60px;
}
.hover-list:hover {
    background-color: #ffaf00 !important;
}
.list-order-top {
    background-color: #111111;
    color: white;
}
.link-producto {
    color: #111111;
}
.link-producto:hover {
    color: #000000;
    font-weight: 700;
}

.backbuttn-2 {
    position: absolute;
    top: 70px;
    right: 60px;
    height: 40px;
    width: 40px;
}