.botonlogin {
    margin-top: 20px;
    margin-bottom: 10px; 
    padding: 8px 14px;
    letter-spacing: 1px;
    float: right;
    background: black;
    border-radius: 3px;
    color: #fff;
    border: 1px solid #fff;
    font-weight: 400;
    font-size: 16px;
    transition: all .3s cubic-bezier(.64, .09, .08, 1);
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.botonlogin:hover {
    color: orange;
    border-color: orange;
}

.forgotten{
    font-size: small;
    color: blue;
}
.form-login {
    margin: 120px 0px !important;
}
.card-body {
    width: 100%;
    padding: 30px;
}