.col-md-2 {  
    flex: 0 0 16.666667%;   
}
.footer {
    padding: 60px 0px 30px !important;
}
.tituloH5 {
    font-weight: 300 !important;
    font-size: 28px;
}
.h5-center {
    text-align: center;
    padding-left: 15px;
}
.textoDatos {
    color: #a2a2a2;
}
.menus {
    color: #a2a2a2;
}
.copyright, .copyright a {
    color: #f9ab1f94;
}

.copyright a:hover {
    color: #f9ab1f;
}
.btn-floating {
    color: #777777;
}
.webft05 {
    font-weight: 700;
}
.img-footer {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 0.7;
}
.img-footer:hover {
    opacity: 1;
}
.div-img-4 {
    padding-bottom: 10px;
}
.div-webft {
    padding-right: 60px !important;
    padding-left: 20px !important;
    margin-top: -20px;
}
.lista-redes {
    border-top: 1px solid #1a1a1a;
    padding-top: 40px;
    margin-top: 30px;
}

.crsrlnk {
    cursor: default;
}

.news-button {
    width: -webkit-fill-available;
    letter-spacing: 1px;
    background: #111111;
    border-radius: 5px;
    color: #fff;
    border: 1px solid rgba(0,0,0,0);
    font-weight: 400;
    font-size: 16px;
    transition: all .3s cubic-bezier(.64, .09, .08, 1);
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}
.news-button:hover {
    background-color: #f9ab1f;
    color: black;
    border-color: #f9ab1f;
}
