.card-img-top:hover {
	width: 90%;	
    margin: -20px 0 0 -5px;
}

.card-img-top {
	width: 85%;	
}

.card {
	align-items: center;
}

.display-4 .lead{
	padding-bottom: 50px;
}
.container-not-found {
	background-color: white;
}

.jumbotron{
	background-color: white;
}

.goofy{
	margin-top: 20px;
	border-radius: 20px;
}