.bg-dark {
    background-color: #111111!important;
}
.barraSuperiorSearch {
    margin-top: 13px;
}
.linkIcons {
    color: white;
}
.linkIcons:hover {
    color: #ffaf00;
}
a:hover {
    text-decoration: none;
    color: #ffaf00;
}
a { color: white; }
.nav-item {
    padding: 0px 10px;
}
.nav-link:hover {
    cursor: pointer
}
.menuSkate {
    border-top: 1px solid #232222;
}
.utilidades {
    padding: 0 2%;
}
.cart-counter{
    background: #f9ab1f;
    padding: 0px 6px;
    border-radius: 50%;
    color: black;
    font-weight: 700;
}