.bg-dark {
    background-color: #111111!important;
}
.barraSuperiorSearch {
    margin-top: 13px;
}
.linkIcons {
    color: white;
}
.linkIcons:hover {
    color: #ffaf00;
}
a:hover {
    text-decoration: none;
    color: #ffaf00;
}
a { color: white; }
.nav-item {
    padding: 0px 10px;
}
.nav-link:hover {
    cursor: pointer
}
.menuSkate {
    border-top: 1px solid #232222;
}
.utilidades {
    padding: 0 2%;
}
.cart-counter{
    background: #f9ab1f;
    padding: 0px 6px;
    border-radius: 50%;
    color: black;
    font-weight: 700;
}
.ul-mi-cuenta {
    display: none;
    padding: 22px;
    width: 160px;
    margin-left: -46px;
    background: #111111;
    z-index: 1000;
}
.js-utilities-item:hover > .ul-mi-cuenta{
    display: block;
    position: absolute;
}
.js-utilities-item:hover{
    color: #ffaf00;
}
.js-utilities-item {
    color: white;
}
.subutility-list-item {
    list-style-type: none;
    padding: 5px 0px;
    margin: 0px;
}
.subutility-list-item:hover {
    background-color: #1e1e1e;
}