.card:hover {
	border: solid 1px orange;
}
.card-text {
	color: #222222;
	font-size: 14px;
}

.card-group {
	margin-top: 30px;
}

.titulo-link {
	color: #222222;
}
.ver-mas {
	font-weight: 500;
	color: #838383;
}
.card-img {
	padding: 6%;
}
.btn-cart-add {
	margin-bottom: 15px;
	display: none;
}
.card:hover > .btn-cart-add {
	display: block !important;
	position: absolute;
	right: 10px;
    bottom: -7px;
}

.nostockadv {
	background-color: #bd2130;
	border: 1px solid;
	border-radius: 3px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-bottom: 10px;
  	position: absolute;
    top: 0px;
    opacity: 40%;
    border-color: #b21f2d;
    color: white;
    font-weight: 450;
    width: 100.5%;
    /*right: px;*/
}
.nostockadv2 {
	background-color:green;
	border: 1px solid;
	border-radius: 2px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-bottom: 10px;
  	position: absolute;
    top: 0px;
    opacity: 40%;
    border-color: #b21f2d;
    color: white;
    font-weight: 450;
    width: 100.5%;
}


