.card:hover {
	border: solid 1px orange;
}
.card-text {
	color: #222222;
	font-size: 14px;
}

.card-group {
	margin-top: 30px;
}

.titulo-link {
	color: #222222;
}
.ver-mas {
	font-weight: 500;
	color: #838383;
}
.card-img {
	padding: 6%;
}
.btn-cart-add {
	margin-bottom: 15px;
	display: none;
}
.card:hover > .btn-cart-add {
	display: block !important;
	position: absolute;
	right: 10px;
    bottom: -7px;
}
