.js-addtocart{
    background-color: black;
    border: none;
    width: auto;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 9px;
}

.js-addtocart:hover{
    background-color: #ffaf00;
    color: black
} */

.input-group mb-2 mr-sm-2 {
    width: 120px;
}

.buttom-left {
    border-right: none;
    border-radius: 0px;
}

.buttom-right {
    border-left: none;
    border-radius: 0px;
}


.cantidades {
    border-left: none;
    border-right: none;
    width: 30px !important;
    flex: 0.3 1 auto !important;
    text-align: center;
}

.btn-outline-secondary {
    border-color: #d4d4d4;
}

.buttom-comprar {
    display: flex;
    align-items: baseline;
}

.single-page {
    margin-top: 4%;
    padding: 60px 0px 0px !important;
}

.content-rigth {
    text-align: left;
}

.titulo-producto {
    font-weight: 700;
    font-size: 2.3em;
    padding: 15px 0px;
}

.precio-producto {
    font-size: 2.8em;
    font-weight: 700;
    padding: 5px 0px 20px;
}
/* .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.backbuttn {
    position: absolute;
    top: 0px;
    right: 0px;
}